# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Logs
logs
*.log

# macOS
.DS_Store

# 忽略所有金鑰檔案
*.pem
pem_key/